.navbar {
    margin-bottom: 15px;
}

.navbar-nav {
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid darkgrey;
    padding: 10px;
    text-align: center;
}

th {
    background-color: tomato;
    color: white;
    font-size: 25px;
}

td {
    text-align: center;
    font-weight: bold;
    background-color: blanchedalmond;
}

.cargo {
    font-size: 20px;
    font-family: Calibri;
}

footer {
    width: 100%;
    height: 100px;
    background-color: darkslategray;
    margin-top: 10px;
    margin-bottom: 0;
}

footer p {
    color: #fff;
    padding-top: 28px;
    margin: 0;
    float: left;
    font-size: 20px;
}

.whatsapp {
    margin: 25px 30px;
    float: left;
}

.mail {
    margin: 25px 0;
    float: left;
}

.copy {
    color: #fff;
    float: right;
    padding: 30px 30px ;
    font-size: 15px;
}